.vscode/settings.json
scripts/fasttext_cache/crawl-300d-2M-subword.bin
code/MixMedia/run_MixMedia.sh
*.txt
code/MixMedia/__pycache__/data.cpython-37.pyc
code/run_MixMedia.sh
code/MixMedia/__pycache__/utils.cpython-37.pyc
code/MixMedia/runs/*
code/MixMedia_old/runs/*
code/RNN_cnpi_baseline/lightning_logs/*
code/MixMedia_old/wandb/*
